@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0px;
   
}
:root {
    --cor01: #04e0a9;
    --cor02: #04AFE0;
    --cor03: #04E0CA;
    --cor04: #046AE0;
    --cor05: #2800E1;
    --cor06: #ffffff;
    
}

body{
   
    background-color: var(--cor01);
}

header {
    background-color: var(--cor02);
    text-align: center;
    min-height: 150px;
    min-width: 350px;
    padding-top: 30px;
    padding-bottom: 50px;
}

header h1 {
    color: var(--cor05);
    font-size: 2.5em;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.185);
}

header p {
    padding: 10px;
    font-weight: bold;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.767);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.158);
}

nav {
    background-color: var(--cor03);
    padding: 15px;
    box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.274);
    font-weight: bold;
}

nav a {
    color: var(--cor06);
    
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--cor05);
    border-radius: 5px;
}

main {
    background-color: var(--cor06);
    min-width: 350px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;   
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


main h2 {
    padding: 10px;
    color: var(--cor05);
    background-image: linear-gradient(to right, var(--cor01), transparent);
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-inline-start: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.185);
    
} 


main h3 {
    background-image: linear-gradient(to right, var(--cor01), transparent);
    margin: 10px;
    padding: 10px;
    margin-inline-start: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.185);
}

main img {
    display: block;
    margin: auto;
}

main a {
    color: var(--cor05);
    background-color: var(--cor01);
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    padding: 3px;
}

main a:hover {
    background-color: var(--cor02);
    color: var(--cor06);  
    border-radius: 5px;
}




main p {
   padding: 15px;
   text-align: justify;
   text-indent: 25px;
   line-height: 1.5em;
}

li {
    margin: 10px;

}

div {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.normal {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.div01 {
    background-color: rgb(187, 184, 184);
    background-image: url(imagens/panodefundo001.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.527);
    color: var(--cor06);
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.div02 {
    background-image: url(imagens/panodefundo002.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.527);
    color: var(--cor06);
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.div01 > h2{
    color: var(--cor06) ;    
}

.div02 > h2{
    color: var(--cor06) ;    
}

div.video02 {
    background-color: var(--cor02);
    margin: 5px 0px 5px -2px;
    padding: 20px;
}

div.video02 > video {
    display: block;
    margin: auto;
    height: 90%;
    width: 90%;
}

div.video01 {
    background-color: var(--cor02);
    margin: 5px 0px 5px -2px;
    padding: 20px;
    position: relative;
    padding-bottom: 56.6%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
    


div.video01 > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
    
}

footer {
    color: var(--cor06);
    text-align: center;
    background-color: var(--cor05);
    padding: 8px;
}